<html xmlns:th="http://www.thymeleaf.org">
<head>
	<name>Edit Books</name>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<style>
		body {
			background-color: #000;
			color:white;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Add Books </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a class="btn btn-info" href="#" th:href="@{/hotels/all}"> Back to All Books </a>
			<form action="#" class="form-horizontal"
				  th:action="@{/hotels/save}"
				  th:object="${form}"
				  method="post">
				<fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
					<table class="table">
						<thead>
						<tr>
							<th></th>
							<th> Title</th>
							<th> Author</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="hotel, itemStat : ${form.hotels}">
							<td><input hidden th:name="|hotels[${itemStat.index}].id|" th:value="${hotel.getId()}"/></td>
							<td><input th:placeholder="Title + ' ' + ${itemStat.count}" th:name="|hotels[${itemStat.index}].name|" th:value="${hotel.getTitle()}"
									   required/></td>
							<td><input th:placeholder="Direccion + ' ' + ${itemStat.count}" th:name="|hotels[${itemStat.index}].direccion|"
									   th:value="${hotel.getDireccion()}" required/></td>
						</tr>
						</tbody>
					</table>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
</html>
